/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 
/* header */
   .navbar-logo{     
    height: 45px;        
    }
    .navbar {
        height: 115px;
    }
    .navbar-expand .navbar-nav .nav-link {
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .header-icon{
        margin-left: 3rem;
        margin-right: 3rem;
    }
/* slider */
    .slider-img{
        height: 900px;
    }
    .slider .fa-arrow-right-long, .slider .fa-arrow-left-long {
        font-size: 35px;
    }
}


/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
/* header */
   .navbar-logo{     
    height: 40px;        
    } 
    .navbar {
        height: 110px;
    }
    .navbar-expand .navbar-nav .nav-link {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    /* dropdown menu */
    .dropdown-menu[data-bs-popper] {
        left: -55%;
      }
    .header-icon{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    /* slider */
    .slider-img{
        height: 800px;
    }
    .slider .fa-arrow-right-long, .slider .fa-arrow-left-long {
        font-size: 30px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
/* header */
   .navbar-logo{     
    height: 35px;        
    } 
    .navbar {
        height: 100px;
    }
    .navbar-expand .navbar-nav .nav-link {
        margin-right: 2rem;
        margin-left: 0rem;
      }
    /*  dorpdown menu */
    .dropdown-menu[data-bs-popper] {
        left: -85%;
      }
    .header-icon{
        margin-left: 0rem;
        margin-right: 2rem;
        width: 32px;
    }
    .slider-img{
        height: 700px;
    }
 
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
/* header */
    .navbar-logo{     
        height: 30px;        
    } 
   
    .header-icon{
        margin-left: 2rem;
        margin-right: 2rem;
        width: 30px;
    }
    .navbar {
        height: 90px;
    }
    .slider-img{
        height: 620px;
    }
    .slider .carousel-caption img{
        width: 62px;
        height: 62px;
    }
    .display-3{
        font-size: 2.5rem;
    }
  
 }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    
/* header */
    .navbar-logo{     
        height: 25px;        
    }  
    .navbar-expand .navbar-nav .nav-link {
        margin-right: 1.25rem;
        margin-left: 0rem;
      }
    .header-icon{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        width: 28px;
    }
    .navbar {
        height: 80px;
    }
    /* slider */
    .slider-img{
        height: 580px;
    }
    .slider .carousel-caption img{
        width: 52px;
        height: 52px;
    }
    .bt-primary{
        font-size: 14px;
    }
    .display-3{
        font-size: 2rem;
    }
   
   
 }

 
/* Extra Small devices (landscape phones, 424px and up) */
@media (max-width: 430px) { 
    
/* header */
    .navbar-logo{
        height: 20px;
    }
    .slider-img{
        height: 540px;
    }
    .bt-primary{
        font-size: 12px;
    }
    .display-3{
        font-size: 1.6rem;
    }
    
 }








