body{
    font-family: 'Montserrat', sans-serif;
    color: #161615;
}
/* button */
.bt-primary{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #e84255;
    padding: 10px;
}
.bt-primary:hover{
    color: #fff;
}
.bt-second{
    padding: 20px 25px;
    background-color: #e84255;
    color: #fff;
    font-size: 16;
}
.bt-second:hover{
    background-color: #e84255;
    color: #fff;
}
.bt-thard{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #80b1a3;
    color:#fff;
    margin-bottom: 50px;
   
}
.bt-thard:hover{
    color: #fff;
}
.s-title{
    padding: 10px 0px 40px 0px;
}
.sub-title{
    color: #e84255;
    font-size: 16px;
    font-weight: 600;
}
.fs-14{
    font-size: 14px;
}

/* section padding */

.section-padding{
   padding-top: 200px;
   padding-bottom: 200px;
}
.section-padding-1{
    padding-top: 200px;
    padding-bottom: 200px;
}
.section-padding-2{
    padding-top: 100px;
    padding-bottom: 100px;
}


/* social icon */
.social-icon li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.social-icon li a{
    line-height: 40px !important;
    color: #fff;
}
.social-icon li{
    border: 2px solid white;
}
.header-social-icon{
    position: absolute;
    right: 2%;
    bottom: 2%;
    z-index: 10;
    margin: 0px 15px ;
    margin: 0px 30px;
}

.extra-social-iocn{
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 1;
    margin: 0px 30px;
}
.extra-social-iocn li a{
    color: #161615;
}
.extra-social-iocn li{
    border: 2px solid #161615;
      
}

/* header */

.navbar-logo{
    height: 52px;
}
.header-hr{
    height: 51px;
    background-color: #f0f0f0;
    width: 1px;
}
.header-icon{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.dropdown-menu[data-bs-popper]::after {
    position: absolute;
    content: '';
    right:0;
    left: 0;
    margin: auto;
    top:-10px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 30px;
    border-left-width: 30px;
    border-bottom: 22px solid #fff;
  }

/* slider */
.slider{
    position: relative;
    z-index: 2;
}
.slider .carousel-inner{
   position: relative;
}
.slider-img{
    height: 960px;
}
.slider .carousel-inner .dark:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent linear-gradient(0deg, #161615CC 0%, #63636200 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.slider .carousel-inner .carousel-caption{
    z-index: 2;
}
.slider .carousel-caption img{
    width: 72px;
    height: 72px;
}
.slider-button-box{
    margin: 28px 0px 15px;
}
/* arrowd */
.slider .fa-arrow-right-long, .slider .fa-arrow-left-long {
    font-size: 43px;
    position: relative;
   
}

.carousel-control-next:hover .fa-arrow-right-long{
    -webkit-animation: arrowmove 1s linear infinite;
            animation: arrowmove 1s linear infinite;
            
}
.carousel-control-prev:hover .fa-arrow-left-long{
    -webkit-animation: arrowmove2 1s linear infinite;
            animation: arrowmove2 1s linear infinite;
            
}

@-webkit-keyframes arrowmove {
    from {
       right: 30px;
    }

    to {
       right: 0px;
    }
}

@keyframes arrowmove {
    from {
       right: 30px;
    }

    to {
       right: 0px;
    }
}
@-webkit-keyframes arrowmove2 {
    from {
       left: 30px;
    }

    to {
       left: 0px;
    }
}

@keyframes arrowmove2 {
    from {
       left: 30px;
    }

    to {
       left: 0px;
    }
}
/* slider item */

.slide-item{
    position: absolute;
    bottom: 0; 
    right: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    z-index: 3;
}
/* .slide-item-row{
    margin: 30px 0px;
} */
.item-box{
    position: relative;
    padding-left: 50px;
}
.item-box::after{
    content: '';
    position: absolute;
    opacity: 0.2;
    top: 10px;
    left: -12px;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: white;
   
}
.slide-item .box {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}
.item-box span{
    color: white;
    opacity: 0.5;
    font-size: 14px;
    transition: all .5s;
}
.item-box p{
    color: white;
    opacity: 1;
    font-size: 24px;
    letter-spacing: 0.48px;
    transition: all .5s;
}
.item-box:hover span{
    opacity: 1;
    
}
.item-box:hover p{
    opacity: 0.5;
    padding-left:10px ;
}

/* second-section */


/* map section */
.map-section{ 
    overflow: hidden;
    background :linear-gradient(158deg, transparent 50%, #adcfdb 50% ); 
}

.map-img{
    padding: 60px 0px;
    max-width: 1090px;
}
/* service section */
.service-title{
    padding-bottom: 66px;
}
.service-box{
    width: 250px;
    height: 166px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.service-box img{
    width: 50px;
    transition: all .3s;
    position: relative;
    top: 0;
    opacity: 1;
   
}
.service-box:hover img{
    top: 10px;
    opacity: 0;
    transition: all .3s;
 }
.service-overlay{
    padding: 65px 15px 15px 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    font-size: 14px;
}
.service-box:hover {
    transition: all .3s;
}
.service-box:hover .service-overlay{
    opacity: 1;
    border-radius: 8px;
    transition-delay: .2s;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
.service-text{
    position: relative;
    top:0;
    transition: all .3s;
    padding: 20px 5px;
    font-weight: 600;
}
.service-box:hover .service-text{
    top: -65px;
    transition: all .3s;
    color: #e84255;
}
/* about section */

.about-section .spacing{
    padding: 100px 0px;
}
.about-section .spacing img{
    box-shadow: 0 10px 30px 0 rgba(22, 22, 21, 0.1);
}
.about-head-img{
    width: 70px;

}
/* brand logo section */
.logo-section{
    padding-bottom:200px;
}
/* news section */
.news-section{
    padding: 60px 0px 200px;
    background-image: linear-gradient(to bottom, rgba(174, 207, 218, 0.2), #fff);
}
.news-box{
    position: relative;
    padding: 0px 35px;
}
.news-box span{
    cursor: pointer;
}
.slick-prev {
    left: -10px;
}
.slick-next{
    right: -10px;
}

.news-heading{
    background-color: #fff;
    position: relative;
    width: 88%;
    bottom: 35px;
    z-index: 2;
   
}
.news-heading .sub-title{
    position: relative;
    z-index: 2;
    padding:10px 10px;
}
.news-heading h4{
    padding: 10px 10px 20px 10px;
}
.news-heading::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    right: 5px;
    top: -8px;
    background-color: white;
    z-index: 1;
    transform: rotate(3deg);
}
.news-heading::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 20px;
    right: -10px;
    background-color: white;
    z-index: 1;
    transform: rotate(-10deg);
}
.newslider .slick-track{
    padding-bottom: 17px;
}

/* lightbox popup */
.light-show-image-top{
    height: 100%;
    width: 100%;
  }
.modal.lightbox {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: #aecfda60;
   
}


.lightbox-popup{
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.light-innnerbox{
    max-height: 471px;
    overflow-y: scroll;
    margin: 125px 60px 45px 165px;
    padding-right: 75px;
    scrollbar-color: #e84255;
    scrollbar-width: 2px;
   
}
.light-innnerbox::-webkit-scrollbar {
    width: 2px;
}
   
.light-innnerbox::-webkit-scrollbar-thumb {
    background-color: #e84255;
}
.modal.lightbox .btn-close{
    background-color: #e84255 !important;
    border-radius: 0 !important;
    opacity: 1 !important;
}
.news-heading .h4{
    color: #161615;
}
/* arrow */
.slick-prev:before, .slick-next:before {
    

}
.slick-prev, .slick-next {
    background-color: #fff;
    width: 60px;
    height: 60px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
}
.slick-prev:hover, .slick-next:hover {
    background-color: #fff;
    z-index: 2;
}

/* partner section */
.partner-sectioin{
    padding-bottom: 30px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

/* footer secion */
.footer-section{
    background-color: #95b2bc;
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 40px 0px 40px;
}

.footer-menu a{
    padding: 0px 30px;
}
.footer-icon{
    width: 24px;
}
.footerlogo{
padding-bottom: 10px;
}


/*---------------------------- news page --------------------- */
.news-page-header{
    padding: 150px 0px 230px;
    background-image: linear-gradient(to top, rgba(174, 207, 218, 0.2), #fff);
}
.news-page-header .dropdown-menu{
    background-color: #e84255;
}
.news-page-header .dropdown-menu {
    width: 276px;
    border-radius: 8px;
    text-align: center;
}
.news-page-header .dropdown-item{
   color: #fff;
   padding: 10px 25px !important;
}
.news-page-header button#dropdownMenuButton1 {
    border-radius: 8px;
}
.news-blog{
    margin-top: -240px;
}

/* ---------------- location page ---------------------- */
.location-banner{
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
}
.location-banner::after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
z-index: 1;
    background: linear-gradient(to top, rgba(22, 22, 21, 0.8) 0%, rgba(99, 99, 98, 0) 100%);
    
}
.price-section{}
.price-section .card-body{
    padding: 0rem 0rem;
}
.price-section .card{
    border-radius: 8px;
    box-shadow: 0 20px 30px 0 rgba(22, 22, 21, 0.1);
}

.price-section .card-header{
    font-size: 24px;
    font-weight: 600;
    background-color: #e84255;
    padding: 40px 0px;
    color: #fff;
}
.price-section .details-dropdown{
    font-size: 14px;
    color: #868b91;
    font-weight: 600;
    padding: 20px 0px;
}
.price-section .pricebody{
    background-color: #fcfcfc;
    padding: 20px 0px;
}


