body{
    font-family: 'Montserrat', sans-serif;
    color: #161615;
}
/* button */
.bt-primary{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #e84255;
    padding: 10px;
}
.bt-primary:hover{
    color: #fff;
}
.bt-second{
    padding: 20px 25px;
    background-color: #e84255;
    color: #fff;
    font-size: 16;
}
.bt-second:hover{
    background-color: #e84255;
    color: #fff;
}
.bt-thard{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #80b1a3;
    color:#fff;
   
   
}
.bt-thard:hover{
    color: #fff;
}


.s-title{
    padding: 10px 0px 40px 0px;
}
.sub-title{
    color: #e84255;
    font-size: 16px;
    font-weight: 600;
}
.fs-14{
    font-size: 14px;
}

/* section padding */

.section-padding{
   padding-top: 200px;
   padding-bottom: 200px;
}
.section-padding-1{
    padding-top: 200px;
    padding-bottom: 200px;
}
.section-padding-2{
    padding-top: 100px;
    padding-bottom: 100px;
}
.price-margin{
    margin-top: 100px;
    margin-bottom: 100px;
}


/* social icon */
.social-icon li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.social-icon li a{
    line-height: 40px !important;
    color: #fff;
}
.social-icon li{
    border: 2px solid white;
}
.header-social-icon{
    position: absolute;
    right: 2%;
    bottom: 2%;
    z-index: 10;
    margin: 0px 15px ;
    margin: 0px 30px;
}

.extra-social-iocn{
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 1;
    margin: 0px 30px;
}
.extra-social-iocn li a{
    color: #161615;
}
.extra-social-iocn li{
    border: 2px solid #161615;
      
}
/* long window layout */
.partner-sectioin-2 .row{
    max-width: 1090px;
    margin: auto;
 }
 .service-section .row{
     max-width: 1090px;
     margin: auto;
 }
 .location-page-header .row{
     max-width: 1090px;
     margin: auto;
 }
 .about-section .row{
     max-width: 1090px;
     margin: auto;
 }
 .partner-sectioin .row{
     max-width: 1090px;
     margin: auto;
     background-color: transparent;
 }
 .second-section .row{
     max-width: 1090px;
     margin: auto;
 }
 



/* header */
.mobile-menu{
    position: fixed;
    z-index: 999;
    width: 92%;
    right:4%;
    bottom: 3%;
}
.mobile-menu button{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #80b1a3;
    padding: 20px 25px;
    border-radius: 8px;
}
.mobile-menu .mobile-menu-icon{
    position: absolute;
    right: 5%;
    top: 21px;
    font-size: 25px;
}
.mobile-menu .dropdown-menu{
    background-color: #fff;
    width: 100%;
    color: #161615;
    inset: auto auto 10px 0px !important;
    border-radius: 8px;
    box-shadow: 0px 0px 30px #1616151A;
}

.mobile-menu .dropdown-menu a:hover{
    color: #e84255;
}
.mobile-menu .dropdown-menu li{
    padding: 15px 0px;
    border-bottom: 1px solid #F3F3F3;
}
.mobile-menu .dropdown-menu li:last-child{
    border-bottom: none;
}
.mobile-menu .dropdown-menu .dropdown-item{
    font-size: 14px;
    color: #161615;
    text-align: center;
    font-weight: 600;
}
.mobile-menu button:hover{
    color: #fff;
}
.navbar-logo{
    height: 52px;
    
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: all .3s;
   
}
.navbar-top{
  height: 120px;
}
.navbar-scroll{
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    height: 80px;
  
}
.header-hr{
    height: 51px;
    background-color: #f0f0f0;
    width: 1px;
}
.header-icon{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}
.dropdown-menu[data-bs-popper]::after {
    position: absolute;
    content: '';
    right:0;
    left: 0;
    margin: auto;
    top:-10px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 30px;
    border-left-width: 30px;
    border-bottom: 22px solid #fff;
  }

/* slider */
.slider{
    position: relative;
    z-index: 2;
}
.slider .carousel-inner{
   position: relative;
}
.slider-img{
    height: 960px;
    width: 100%;
}
.slider .carousel-inner .dark:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent linear-gradient(0deg, #161615CC 0%, #63636200 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

.slider .carousel-inner .carousel-caption{
    z-index: 2;
}
.slider .carousel-caption img{
    width: 72px;
    height: 72px;
}
.slider-button-box{
    margin: 28px 0px 15px;
}
/* arrowd */
.slider .fa-arrow-right-long, .slider .fa-arrow-left-long {
    font-size: 35px;
    position: relative;
   
}

.carousel-control-next:hover .fa-arrow-right-long{
    -webkit-animation: arrowmove 1s linear infinite;
            animation: arrowmove 1s linear infinite;
            
}
.carousel-control-prev:hover .fa-arrow-left-long{
    -webkit-animation: arrowmove2 1s linear infinite;
            animation: arrowmove2 1s linear infinite;
            
}

@-webkit-keyframes arrowmove {
    from {
       right: 30px;
    }

    to {
       right: 0px;
    }
}

@keyframes arrowmove {
    from {
       right: 30px;
    }

    to {
       right: 0px;
    }
}
@-webkit-keyframes arrowmove2 {
    from {
       left: 30px;
    }

    to {
       left: 0px;
    }
}

@keyframes arrowmove2 {
    from {
       left: 30px;
    }

    to {
       left: 0px;
    }
}
/* slider item */

.slide-item{
    position: absolute;
    bottom: 0; 
    right: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    z-index: 3;
}
/* .slide-item-row{
    margin: 30px 0px;
} */
.item-box{
    position: relative;
    padding-left: 50px;
}
.item-box::after{
    content: '';
    position: absolute;
    opacity: 0.2;
    top: 10px;
    left: -12px;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: white;
   
}
.slide-item .box {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}
.item-box span{
    color: white;
    opacity: 0.5;
    font-size: 14px;
    transition: all .5s;
}
.item-box p{
    color: white;
    opacity: 1;
    font-size: 24px;
    letter-spacing: 0.48px;
    transition: all .5s;
}
.item-box:hover span{
    opacity: 1;
    
}
.item-box:hover p{
    opacity: 0.5;
    padding-left:10px ;
}

/* second-section */
.second-section .padding-left{
    padding-left: 10vw;
}

/* map section */
.map-section{ 
    overflow: hidden;
    background :linear-gradient(158deg, transparent 50%, #adcfdb 50% ); 
}

.map-img{
    padding: 60px 0px;
    width: 100%;
}
.detailsmap{
    position: relative;
}
.mals, .Schlanders, .Bruneck, .Bozen, .Meran , .Taufers{
    position: absolute;
    cursor: pointer;
    
}
.mals{
    top: 42%;
    left: 13%;
}
.Schlanders{
    top: 53%;
    left: 21%;
}
.Bruneck{
    top: 37%;
    left: 68%;
}
.Bozen{
    top: 65%;
    left: 49%;
}
.Meran{
    top: 49%;
    left: 39%;
}
.Taufers{
    top: 24%;
    left: 62%;
}
.mals .dote, 
.Schlanders .dote,
.Bruneck .dote,
.Bozen .dote,
.Meran .dote
{
    position: relative;
    right: -10px;
    top: 10px;
}
.mals .dote::after,
.Schlanders .dote::after,
.Bruneck .dote::after,
.Bozen .dote::after,
.Meran .dote::after

{
    content: '';
    width: 23px;
    height: 23px;
    border-radius:50%;
    position: absolute;
    background-color: #EDE7AE;
    left: -30px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s;
}
.mals:hover .dote::after,
.Schlanders:hover .dote::after,
.Bruneck:hover .dote::after,
.Bozen:hover .dote::after,
.Meran:hover .dote::after

{
    width: 12px;
    height: 12px;
    background-color: #EDE7AE;
    border-radius:50%;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.mals .dote::before,
.Schlanders .dote::before,
.Bruneck .dote::before,
.Bozen .dote::before,
.Meran .dote::before

{
    content: '';
    width: 12px;
    height: 12px;
    border-radius:50%;
    position: absolute;
    background-color: transparent;
    border: 1px solid #EDE7AE;
    left: -30px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s;
}
.mals:hover .dote::before,
.Schlanders:hover .dote::before,
.Bruneck:hover .dote::before,
.Bozen:hover .dote::before,
.Meran:hover .dote::before
{
    width: 23px;
    height: 23px;
    background-color: transparent;
    border:1px solid #EDE7AE;
    border-radius:50%;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.mals .title, 
.Schlanders .title, 
.Bruneck .title, 
.Bozen .title, 
.Meran .title
{
   color: #EDE7AE;
   font-size: 13px;
   font-weight: 600;
   display: block;
   text-align: start;
   
}

.mals .name, 
.Schlanders .name, 
.Bruneck .name, 
.Bozen .name, 
.Meran .name
{
   color: #fff;
   font-size: 33px;
   font-weight: 600;
}
.Taufers .name
{
   color: #fff;
   font-size: 16px;
   font-weight: 600;
}
.Taufers .dote::after{
    width: 23px;
    height: 23px;
    background-color: transparent;
    border:1px solid #EDE7AE;
    border-radius:50%;
    position: absolute;
    content: '';
    top: 25px;
}
.Taufers .dote::before{
    width: 1px;
    height: 317%;
    background-color: #EDE7AE;
    border-radius: 50%;
    position: absolute;
    content: '';
    right: 59px;
    top: 46px;
    transform: rotate(9deg);
}



/* service section */
.service-title{
    padding-bottom: 66px;
}
.service-box{
    width: 250px;
    height: 166px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.service-box img{
    width: 50px;
    transition: all .3s;
    position: relative;
    top: 0;
    opacity: 1;
   
}
.service-box:hover img{
    top: 10px;
    opacity: 0;
    transition: all .3s;
 }
.service-overlay{
    padding: 65px 15px 15px 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    font-size: 14px;
  
}
.service-box:hover {
    transition: all .3s;
}
.service-box:hover .service-overlay{
    opacity: 1;
    border-radius: 8px;
    transition-delay: .2s;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
.service-text{
    position: relative;
    top:0;
    transition: all .3s;
    padding: 20px 5px;
    font-weight: 600;
}
.service-box:hover .service-text{
    top: -65px;
    transition: all .3s;
    color: #e84255;
}
/* about section */

.about-section {
   
}
.about-section .spacing{
    padding: 100px 0px;
}
.about-section .spacing img{
    box-shadow: 0 10px 30px 0 rgba(22, 22, 21, 0.1);
}
.about-head-img{
    width: 70px;

}
/* brand logo section */
.logo-section{
    padding-bottom:200px;
   
}
.brand-overlay{
    position: initial;
    top: -10px;
    left: 0;
    padding: 30px;
    width: 250px;
    box-shadow: 0px 0px 30px #1616151A;
    background-color:#fff;
    height: auto;
    opacity: 0;
    transition: all .3s;
    z-index: 2;
    margin-top: 50px;
    width: 507px;
    display: none;
  
    
}

/* .logo-section {
    margin-top: -365px;
} */
/* .brandlogo{
    position: relative;
   
} */
.brand-img-box
{
  position: relative;
}
.brand-img-box:hover .brand-overlay{
    opacity: 1;
}
/* news section */
.news-section{
    padding: 60px 0px 200px;
    background-image: linear-gradient(to bottom, rgba(174, 207, 218, 0.2), #fff);
}
.news-box{
    position: relative;
    padding: 0px 35px;
}
.news-box span{
    cursor: pointer;
}
.slick-prev {
    left: -10px;
}
.slick-next{
    right: -10px;
}




.news-heading{
    background-color: #fff;
    position: relative;
    width: 88%;
    bottom: 35px;
    z-index: 2;
   
}
.news-heading .sub-title{
    position: relative;
    z-index: 2;
    padding:10px 10px;
}
.news-heading h4{
    padding: 10px 10px 20px 10px;
}
.news-heading::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    right: 5px;
    top: -8px;
    background-color: white;
    z-index: 1;
    transform: rotate(3deg);
}
.news-heading::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 20px;
    right: -10px;
    background-color: white;
    z-index: 1;
    transform: rotate(-10deg);
}
.newslider .slick-track{
    padding-bottom: 17px;
}

/* lightbox popup */
.light-show-image-top{
    height: 100%;
    width: 100%;
  }
.modal.lightbox {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: #aecfda60;
   
}


.lightbox-popup{
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.light-innnerbox{
    max-height: 471px;
    overflow-y: scroll;
    margin: 125px 60px 45px 165px;
    padding-right: 75px;
    scrollbar-color: #e84255;
    scrollbar-width: 2px;
   
}
.light-innnerbox::-webkit-scrollbar {
    width: 2px;
}
   
.light-innnerbox::-webkit-scrollbar-thumb {
    background-color: #e84255;
}
.modal.lightbox .btn-close{
    background-color: #e84255 !important;
    border-radius: 0 !important;
    opacity: 1 !important;
}
.news-heading .h4{
    color: #161615;
}
/* arrow */
.slick-prev:before, .slick-next:before {
    

}
.slick-prev, .slick-next {
    background-color: #fff;
    width: 60px;
    height: 60px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
}
.slick-prev:hover, .slick-next:hover {
    background-color: #fff;
    z-index: 2;
}

/* partner section */
.partner-sectioin{
    padding-bottom: 30px;

}

/* footer secion */
.footer-section{
    background-color: #95b2bc;
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 40px 0px 40px;
}

.footer-menu a{
    padding: 0px 30px;
}
.footer-icon{
    width: 24px;
}
.footerlogo{
padding-bottom: 10px;
}


/*---------------------------- news page --------------------- */
.news-page-header{
    padding: 150px 0px 230px;
    background-image: linear-gradient(to top, rgba(174, 207, 218, 0.2), #fff);
}
.news-page-header .dropdown-menu{
    background-color: #e84255;
}
.news-page-header .dropdown-menu {
    width: 276px;
    border-radius: 8px;
    text-align: center;
}
.news-page-header .dropdown-item{
   color: #fff;
   padding: 10px 25px !important;
}
.news-page-header button#dropdownMenuButton1 {
    border-radius: 8px;
}
.news-blog{
    margin-top: -240px;
}

/* ---------------- location page ---------------------- */
.location-banner{
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
}
.location-banner .location-banner-img{
    width: 100%;
}
.location-banner::after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to top, rgba(22, 22, 21, 0.8) 0%, rgba(99, 99, 98, 0) 100%);
    
}
.price-section{
    padding-right: 135px;
    padding-left: 135px;
}
.price-section .card-body{
    padding: 0rem 0rem;
}
.price-section .card{
    box-shadow: 0px 20px 30px #1616151A;
    border-radius: 8px;
    border: none;
    /* width: 100%; */
    /* min-width: 576px; */
}
.price-section .card-header{
    font-size: 24px;
    font-weight: 600;
    background-color: #e84255;
    padding: 40px 0px;
    color: #fff;
}
.price-section .details-dropdown{
    font-size: 14px;
    color: #868b91;
    font-weight: 600;
    padding: 20px 0px;
}
.price-section .pricebody{
    background-color: #fcfcfc;
    padding: 20px 0px;
}
.price-detail{
    position: relative;

}
.price-section .owl-carousel .owl-stage-outer{
    overflow: initial !important;
}
.details-list{
   position: absolute;
   width: 100%;
   right: 0;
   left: 0;
   z-index: 3;
   background-color: #fff;
   top: 0;
  opacity: 0;
   box-shadow: 0px 20px 30px #1616151a;
   border-radius: 0px 0px 8px 8px;
   transition: all .3s;
}
.price-section .card:hover {
    box-shadow: 0px 0px 60px #1616151a;
}
.price-section .card:hover .details-list{
    opacity: 1;
    box-shadow: 0px 20px 30px #1616151a;
}
.price-detail>a{
    margin-bottom: 50px;
}
.details-list .list-group-item{
    font-weight: 600;
    padding:20px 20px 20px ;
}
.price-section .list-group-flush > .list-group-item {
    border-width: 0 0 1px;
    border-color:#f7f7f7 ;
}
.details-list .list-a{
    padding: 32px 0px 42px;
}
.details-list .details-dropdown{
    padding: 30px 0px;
} 
/* location accordion */
.location-accordion {
    
}
.location-accordion .row{
    max-width: 1090px;
    margin: auto;
}

.location-accordion h1{
    padding-bottom: 60px;
}
.location-accordion .accordion-item{
    box-shadow: none;
    border: none;
}
.location-accordion  .accordion-item{
    margin-bottom: 30px;
}
.location-accordion  .accordion-body{
    padding: 2rem 2rem 0rem !important;
}
 .location-accordion .accordion-header {
    box-shadow: 0 0 30px 0 rgb(22 22 21 / 10%);
    font-size: 20px;
  font-weight: 600;
}

.location-accordion  .accordion-button {
    font-size: 20px;
    font-weight: 600;
}
.location-accordion  .accordion-button:not(.collapsed) {
    background-color: #fff !important;
    box-shadow: none !important;
    color: #161615;
}

/* location slider */
.location-slider .row{
    max-width: 1090px;
    margin: auto;
}
.location-slider .webname{
    padding-left: 30px;
    position: relative;
}
.location-slider .webname::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #e84255;
    left: 0;
    top:50% ;
    
}
.location-slider .name-img{
    position: relative;
}
.location-slider .item-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 33%;
    height: 75px;
    padding-top: 20px;
}
.location-slider .item-name::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    right: 5px;
    top: -9px;
    background-color: white;
    z-index: 1;
    transform: rotate(3deg);
}
.location-slider .item-name::after{
    position: absolute;
    content: '';
    height: 105%;
    width: 20px;
    right: -8px;
    background-color: white;
    z-index: 1;
    top: 2px;
    transform: rotate(-10deg);
}
.location-slider .next, .location-slider .preav{
    background-color: #fff;
    color: #161615;
    width: 60px;
    height: 60px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 60px;
    font-size: 24px;
}
/* location map */
.location-map-section iframe{
    height: 550px;
}
.location-map-section{
    padding-top: 100px;
    position: relative;
   
}
.location-map-section .map{
    position: relative;
}
.location-map-section> .container-fluid{
    width: 100% !important;
    padding-left:0px;
    padding-right:0px;
    margin-right: 0px;
    margin-left: 0px;
}
.location-map-section p{
    padding: 40px 0px;
}
.location-map-section ul li {
    margin-bottom: 20px;
   margin-left: 30px;
}   
.location-map-section ul li a{
    font-weight: 600;
    color:#161615;
   
}   
.location-button{
    position: absolute;
    bottom: 195px;
    right: 0;
    left: 0;
    margin: auto;
}
.location-button a{
    font-weight: 600;
}
.partner-sectioin-2{
    padding-top: 75px;
    padding-bottom: 60px;
}
}
